body 
{
	margin:0px;
	padding:0px;
	font:normal 16px/25px Georgia,serif;
	/*background-image:url(../imagen/noiser.png);*/
	color:#000;
	/*background:#eeeeee;*/
}

a:link 
{ 
	text-decoration:none;
	color:#111;	
} 
 
a:hover  
{
	text-decoration:underline;
	color:#111;

} 

h2 {
	position:relative;
	top:10px;
	font-size:22px;
	text-align:center;
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:22px 0;
}

/*****************************/
.cabecera	
{
	margin :-2px 0;
	padding:0;
	background:url(../imagen/top_bg2.jpg) repeat-x scroll left top;
	text-align:center;
}

                          
.subcabecera
{
	height:60px;
	width:990px;
	margin:0 auto;
	/*  padding:5px 0;background:url(../imagen/toplinks-bg.jpg) no-repeat scroll center top;*/
}
		

.cabeceratexto1
{
	width:690px;
	font-family:"Lucida Bright","Times New Roman",Times,serif;
	text-align:left;
	float:left;
	
	color:#abbdd4;
	font-size:11px;
	height:20px;
	line-height:20px;
}

.cabeceratexto2
{
	height:20px;
	font-size:11px;
	letter-spacing:.03em;
	color:#abbdd4;
	padding:0;
}
                
.cabeceratexto3
{
	height:40px;
	font-size:20px;
	letter-spacing:.03em;
	color:#abbdd4;
	padding:0;
	text-align:left;
	float:left;
	line-height:40px;
}
               
      
.mapconten{
	margin:0 auto;
	padding:0px;	
	width:100%;
	height:400px;	
	background:#fff;
	clear:both;
	
	} 
.tablaheader
{
	margin:0 auto;
	padding:0px;	
	width:990px;
	height:50px;	
	background:#ddd;
	
		
}
.showimagen
{
	width:80px;
	height:30px;
	float:left; 
	margin:10px;
	text-align:center;
}
.showcategoria
{
	width:195px;
	height:30px;
	float:left; 
	margin: 10px;
	text-align:center;
}

.showtexto
{
	width:620px;
	height:30px;
	float:left; 
	margin: 10px;
	text-align:center;
	
}

/*.showtipo
{
	width:50px;
	height:30px;
	float:left;  
	margin: 10px;
	text-align:center;
	
}*/

.showdescarga
{
	width:110px;
	height:30px;
	float:left; 
	margin: 10px;
	text-align:center;
	
}



	
.conteninfor
{
	margin:0px 0px 0px 0px;
	padding:0px;	
	width:990px;
	height:367px;
	margin:0 auto;
	background:#fff;
	clear:both;
	
}               

.cont  /***coontenido de bloques*/
{	
	margin:10px;
	width:308px;
	height:348px;
	float:left;
	border:solid 1px #fff;
	background:#fff;
}

.contenheader2
{
	/*background:url(../imagen/header2.jpg) repeat-x scroll left top;*/
	width:306px;
	height:auto;
	color:#111;
	font-size:20px;
	line-height:40px;
	padding-left:2px;
}
.contenbody2
{
	width:300px;
	height:306px;
	padding:2px;
	text-align:justify;
	color:#555;
}


.coment
{	
	margin:20px auto;
	width:990px;
	height:100px;
	background:url(../imagen/banner-bg.png) repeat-x scroll left top;
	font-size:18px;
	text-align:center;
}
.contenfile1
{	
	margin:0 auto;
	padding:0px;	
	width:990px;
	height:100px;	
	background:#fff;
	clear:both;
}

.contenfile2
{	/*margin:0 auto;
	padding:0px;	
	width:988px;
	height:100px;
	background:#eee;
	margin:5px 0px 5px 0px;
	border:solid 1px #fff;*/
	margin:0 auto;
	padding:0px;	
	width:990px;
	height:100px;	
	background:#eee;
	
}

.imgcontenfile
{
	width:80px;
	height:80px;
	float:left; 
	margin:10px;
	text-align:center;				
}
.categoria
{	width:195px;
	height:80px;
	float:left; 
	margin: 10px;
	text-align:center;
	line-height:80px;
	
}
.texto
{
	width:620px;
	height:60px;
	float:left; 
	margin: 10px;
	text-align:justify;
	color:#aaa;
}
.texttitulo
{
	width:620px;
	height:20px;
	float:left;
	font-size:18px;
	line-height:20px;
	color:#53565d; 
	text-align:left;
}
			
.descarga
{
	width:110px;
	height:80px;
	float:left; 
	margin: 10px;
	text-align:center;
}

.footer
{
	margin:0 auto;
	padding:0px;	
    width:990px;
    height:182px;
   	background:url(../imagen/footer_bg1.jpg) repeat-x scroll left top;
	text-align:center;
	color:#ddd;
	
}

.texttooter
{
	margin: 20px auto;
	padding:0px;	
    width:990px;
    height:20px;
    font-size:8pt;
    text-align:center;
    line-height:20px;    
 }     